body{
    margin: 0;
    font-size: 40px;
}

header{
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 10;
    background-color: orange;
    display: flex;
    height: 50px;
}

main{
    padding: 90px 10px;
    padding-bottom: 0;
    display: flex;
}

p{
    margin: 0;
}

form{
    /*background-color: blue;*/
    /*color: red;*/
    /*display: flex;*/
    /*height: 50px;*/
}

input{
    height: 40px;
    width: 100% ;
    position: relative;
    top: -7px;
    padding: 0;
    border: 0px orange;
    font-size: 20px;
    /*padding: 2px;*/
    /*border-color: orange;*/
    /*padding-top: 1%;*/
    /*padding-bottom: 1%;*/
}

main input{
    height: 40px;
    width: 100% ;
    position: relative;
    top: -7px;
    padding: 0;
    border: 2px orange;
    font-size: 20px;
    /*padding: 2px;*/
    /*border-color: orange;*/
    /*padding-top: 1%;*/
    /*padding-bottom: 1%;*/
}

a{
    text-decoration: none;
    color: black;
}

ul{
    margin-top: 0;
}

h3{
    margin: 0 0 10px;
    padding-left: 5%;
    font-size: 40px;
    font-weight: normal;
    font-family: Verdana, serif;
}

.header-text{
    margin: 0;
}

.header-div{
    width: 20%;
    user-select: none;
    /*box-sizing: border-box;*/
    /*display: block;*/
    /*flex-grow: 0;*/

}

.header-img{
    width: 10%;
}

.div-input{
    width: 40%;
    display: flex;
}

.logo{
    width: 50px;
    height: 50px;
}

.div-ul{
    background-color: wheat;
    /*display: flex;*/
    width: 30%;
    max-height: 330px;
    padding: 5px;
}

.div-ul li a{
    user-select: none;
}

li a{
    font-size: 20px;
}

li{
    list-style-type: none;
}

.product-list{
    min-width: 60%;
    margin: 10px;
    margin-left: 30px;
}

.product-list p{
    font-size: 40px;
}

.product-list ul{
    padding: 0;
    margin-top: 30px;
}

.product-list li{
    margin-bottom: 15px;
}

.product{
    display: flex;
    min-width: 60%;
    height: 100px;
    border: brown 2px;
    background-color: rgb(255, 249, 230);
}

.product img{
    padding: 5px;
    width: 20%;
}

.product p{
    font-size: 26px;
    height: 25%;
    width: 100%;
    padding: 3px;
}

.product .description{
    font-size: 20px;
    min-height: 100%;
    max-width: 70%;
    padding: 3px;
    margin-right: 5px;
}

.product-info{
    display: inline-block;
    width: 80%;
}

.product-info div{
    display: flex;
}

.forum-list{
    background-color: wheat;
    width: 90%;
    margin-top: 5px;
    margin-left: 5%;

}

.forum-list ul{
    padding-left: 0;
}

.forum-list li{
    background-color: wheat;
    border: solid #e3c9a0 1px;
    min-height: 80px;
}

.forum-list p{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.about{
    background-color: wheat;
    width: 95%;
    min-height: 600px;
}

.user-form{
    padding: 10px;
}

.user-form form{
    width: 40%;
}

.user-form p{
    font-size: 22px;
}

.user-form.about-me form{
    width: 80%;
}

.find{
    display: inline-block;
    /*position: absolute;*/
    width: 10%;
    min-width: 50px;
    min-height: 50px;
    /*left: 50px;*/
}

.search-form{
    display: inline-block;
    width: 90%;
}

.search-logo{
    width: 50px;
    height: 50px;
}

.colorblind img{
    max-width: 75px;
    max-height: 75px;
    position: fixed;
    left: 50px;
    bottom: 50px;
    user-select: none;
}

.forms{
    display: flex;
    margin: 10px;
    padding: 10px;
}

.forms input, textarea{
    font-family: inherit;
    background-color: #fff3de;
    background-clip: padding-box;
    border: 1px solid wheat;
    border-radius: 0.25rem;
    padding: 3px 3px 3px 10px;
}

.forms textarea{
    font-size: 24px;
    min-width: 75%;
    min-height: 200px;
    margin-right: 5%;
}

.forms button{
    font-family: inherit;
    font-size: 20px;
    border-radius: 0.25rem;
    background-color: wheat;
    border: 2px solid #e3c9a0;
    padding: 10px;
    min-width: 10%;
}

.register{
    max-width: 50%;
    min-width: 50%;
    margin: 20px;
}

.login{
    max-width: 43%;
    min-width: 43%;
    margin: 20px;
}

.topic{
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-messages{
    margin: 20px;
}

.topic-messages div{
    margin: 10px;
    padding: 25px;
    background-color: wheat;
    border-color: #e3c9a0;
    border-radius: 0.25rem;
    background-clip: padding-box;
    min-height: 150px;
}

.topic button{
    min-width: 20%;
    max-height: 50px;
}



@media (max-width: 800px) {
    .header-text{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .text{
        max-width: 10%;
    }
    .div-input{
        width: 60%;
    }
    .catalog{
        background: url("src/catalog_logo.svg") no-repeat 50px;
        background-size: 50px 50px;
        background-position-x: center;
    }
    .forum{
        background: url("src/forum_logo.svg") no-repeat 50px;
        background-size: 44px 44px;
        background-position-x: center;
    }
    .product{
        min-height: 200px;
    }
    .product-info div{
        vertical-align: middle;
    }
    .product .description{
        font-size: 16px;
    }
    .product-info p{
        font-size: 24px;
    }
    .price p{
        font-size: 20px;
    }
    .div-ul p{
        font-size: 30px;
    }
    .div-ul a{
        font-size: 18px;
    }
    .forms textarea{
        font-size: 20px;
        min-width: 73%;
        min-height: 200px;
        margin-right: 3%;
    }
}
@media (max-width: 500px) {
    .header-img{
        min-width: 50px;
    }
    .text{
        min-width: 50px;
    }
    .product-list p{
        font-size: 30px;
    }
    .product-info p{
        font-size: 24px;
    }
    .price p{
        font-size: 16px;
    }
    .div-ul p{
        font-size: 28px;
    }
    .div-ul a{
        font-size: 16px;
    }
    h3{
        font-size: 1em;
    }
    .forms textarea{
        font-size: 20px;
        min-width: 60%;
        min-height: 200px;
        margin-right: 2%;
    }
}